@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* > *{
    font-family: 'Poppins', sans-serif;
}

body{
    background: #e1e1e7;
    background-image: url('./assets/Untitled-1.png');
    background-size: cover;
    background-repeat: no-repeat;
}